<h1 class="title">HANGMAN WITH EMBER</h1>


<div class="wrap">
  <div class="col">
    <div class="problem">
      {{#each current_word }}
        <div class="word-wrap">
          <span {{bind-attr class="active:show:hide"}}>
            {{letter}}
          </span>
        </div>
      {{/each}}
    </div>
    <br />
    <div class="guess">
      {{view App.HangmanInputView value="q" }}
      {{view App.HangmanInputView value="w" }}
      {{view App.HangmanInputView value="e" }}
      {{view App.HangmanInputView value="r" }}
      {{view App.HangmanInputView value="t" }}
      {{view App.HangmanInputView value="y" }}
      {{view App.HangmanInputView value="u" }}
      {{view App.HangmanInputView value="i" }}
      {{view App.HangmanInputView value="o" }}
      {{view App.HangmanInputView value="p" }}
      <br />  
      {{view App.HangmanInputView value="a" }}
      {{view App.HangmanInputView value="s" }}
      {{view App.HangmanInputView value="d" }}
      {{view App.HangmanInputView value="f" }}
      {{view App.HangmanInputView value="g" }}
      {{view App.HangmanInputView value="h" }}
      {{view App.HangmanInputView value="j" }}
      {{view App.HangmanInputView value="k" }}
      {{view App.HangmanInputView value="l" }}
      <br />
      {{view App.HangmanInputView value="z" }}
      {{view App.HangmanInputView value="x" }}
      {{view App.HangmanInputView value="c" }}
      {{view App.HangmanInputView value="v" }}
      {{view App.HangmanInputView value="b" }}
      {{view App.HangmanInputView value="n" }}
      {{view App.HangmanInputView value="m" }}
    </div>
    
    <br />
    <div class="life-and-hint">

      <div class="life">
        {{life_blocks life}}
      </div>
      <div class="hint">
        <h3>
          <b>?</b>
          <i>{{current_problem.hint}}</i>
        </h3>
      </div>

    </div>

  </div>
  <div class="col last">

      <div class="scores">
        <h1 class="title">SCORE <small>Best: {{best}}</small></h1>
        <ul>
          {{#each scores}}
            <li>{{value}}</li>
          {{/each}}
        </ul>
      </div>

  </div>
</div>
